html {
  font-size: 62.5%; /*default font=16px, 16px*.625=10px, now 1rem=10px*/
  box-sizing: border-box;
}
body {
  margin: 0px;
  height: 100vh;
  font-size: 1.6rem;
  font-family: helvetica, arial, sans-serif;
  -webkit-font-smoothin: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid; /* defines grid layout */
  grid-template-areas:                    /* three grid areas */
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr; /* 1 column */
  grid-template-rows: 5rem 1fr 5rem; /* 3 rows */
  height: 100%; /* fill page */
}
header {
  grid-area: header; /* link back to template areas */
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: white;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none; /* removes hyperlink styling  */
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: helvetica, arial, sans-serif;
  -webkit-font-smoothin: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  background-color: lightgray;
}
button.primary {
  background-color: gold;
}
button.block {
  width: 100%;
}
button:hover {
  border: 0.1rem #404040 solid;
}
header a {
  color: white;
  padding: 1rem;
}
a.company {
  color: white; /* no hover on company name */
  font-size: 3rem;
  font-weight: bold;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* moves sign in and cart to right */
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2ß 1 50rem;
}
img {
  border-radius: 0.5rem;
}
img.large {
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
.price {
  font-size: 2rem;
}
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.rating span {
  color: #f0c040;
  padding: 0.1rem;
}
.rating span:last-child {
  color: #000000;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.success {
  color: #20a020;
}
.error {
  color: #a02020;
}
